.chatIconContainer {
    position: fixed;
    bottom: 20px; /* 画面下から20pxの位置 */
    right: 20px;  /* 画面右から20pxの位置 */
    width: 100px;
    height: 100px;
    z-index: 1000; /* 他の要素よりも前面に表示 */
}
  
.chatIconContainer img {
    width: 80px;
    height: 80px;
}
  